* {
  margin: 0px;
  padding: 0px;
}
.weatherComponent {
  display: flex;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  justify-content: flex-start;
}
.weatherTitle {
  margin: 20px;
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
  text-shadow: 2px 2px 5px rgb(235, 235, 235);
  font-style: oblique;
  font-size: 2em;
}
.infoInput {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  margin: 10px;
  box-shadow: 4px 4px 7px blue;
  position: relative;
  width: 50vw;
  height: 50vh;
  border-radius: 10px;
}
.weatherCityInput {
  background-color: transparent;
  font-size: 1.2em;
  box-shadow: 2px 2px 5px black;
  border-radius: 5px;
  background-color: #65c7f7;
  padding: 5px;
}
.weatherCityInput:focus {
  box-shadow: 3px 4px 5px rgb(247, 247, 247);
}
.weatherInfo {
  position: relative;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 70%;
  border-top: 2px solid blue;
  border-bottom: 2px solid blue;
}
.weathrInfoItem {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  text-align: center;
  text-decoration: wavy;
  font-style: oblique;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5em;
  font-weight: bolder;
  margin: 5px;
  text-shadow: 2px 1px 3px white;
  text-transform: capitalize;
}
.skeletonContainer {
  display: flex;
  justify-content: flex-start;
  position: relative;
  margin-top: 3px;
}
.detailsButton {
  width: 200px;
  background-color: transparent;
  box-shadow: 2px 2px 4px aqua, -2px -2px 4px aqua;
  border-radius: 5px;
  font-size: 1.3em;
  font-family: "Courier New", Courier, monospace;
  font-style: italic;
  border: 2px solid black;
  font-weight: bolder;
  cursor: pointer;
}
.weatherInfoBk {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  z-index: -1;
  opacity: 0.8;
}
.errContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 70%;
  border-top: 2px solid blue;
  border-bottom: 2px solid blue;
  background-color: orange;
}
.errTitle {
  color: red;
  font-family: "Courier New", Courier, monospace;
  font-style: italic;
  font-weight: bolder;
  font-size: 1.5em;
  text-shadow: 2px 2px 5px black;
  margin: 10px;
}
.errInfo {
  display: block;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  font-size: 1.2em;
  font-weight: bolder;
  text-shadow: 2px 2px 5px black;
}
.detailsComponents {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  width: 50vw;
  height: 50vh;
  background-color: rgb(22, 196, 240);
}
.DetailsNav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 25%;
  background-color: aliceblue;
  /* box-shadow: 2px 2px 3px black; */
  background-color: transparent;
}
.DetailsNav > span {
  background-color: white;
  box-shadow: 2px 2px 5px rgb(0, 0, 0);
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2em;
  font-weight: bolder;
  font-family: "Courier New", Courier, monospace;
  font-style: italic;
  border-radius: 10px;
  cursor: pointer;
}
.DetailsInfo {
  display: flex;
  width: 100%;
  height: 87%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.DetailsInfo > div {
  font-size: 1.2em;
  font-weight: bolder;
  font-style: oblique;
  font-family: "Courier New", Courier, monospace;
  margin: 5px;
  text-transform: capitalize;
  text-shadow: 2px 2px 5px black;
}
@media all and (max-width: 500px) {
  .infoInput {
    width: 90vw;
  }
  .DetailsNav {
    height: 40%;
    flex-direction: column;
  }
  .DetailsNav > span {
    margin: 15px;
  }
  .detailsComponents {
    height: fit-content;
    width: 60vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .weatherDetails {
    width: 100vw;
  }
}
